/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


/*Gallery*/
body {
  font-family: sans-serif;
  background-color: #fafafa;
  padding: 24px;
}

.gallery {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  margin: 0;
  padding: 0;
}

.gallery-item {
  border-radius: 4px;
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 250ms ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.05);
}


/*Form*/
body {
  font-family: sans-serif;
  background-color: #fff;
  padding: 24px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 8px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  margin-top: 8px;
  padding: 16px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid black;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 250ms ease-in-out;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}